/* Styles for the Todo List table */
.todo-app {
    display: flex;
    justify-content: space-around;
  }

  .todo-lists-container {
    display: flex;
    overflow-x: auto;
    padding: 20px;
  }
  .todo-table {
    border-collapse: collapse;
    border-spacing: 10px;
    width: 100%;
    border: 1px solid #ccc;
    table-layout: fixed;
    
  }


  .todo-table th, .todo-table td {
    width: 200px; /* Set a fixed width for columns */
  padding: 10px;
  border: 1px solid #ccc;
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; 
  border-right: 75px solid transparent;
}
  
  .todo-table th{
    text-align: center;
    background-color: #bdbdbd;
    
  }
  .todo-table th:last-child, .todo-table td:last-child {
    border-right: none; /* Remove border-right for the last th in each row */
  }
  .todo-table td{
    text-align: left;
    background-color: #d5d5d5;


  }
  .add-todo-btn {
    background-color: #4caf50;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .ul{
    list-style-type: none;
  padding: 0px;
  }

  ul.ul li {
    margin: 4px;
    padding: 8px;
    border: 1px solid #ddd;
    background-color: #ffffff;
  }
  .centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  